*.txt
*.pdf
*.html
*.png
*.svg
*.pkl
*.prof
*.mat
*.dat
*.h5
*.nwb
.~lock.*
/mu
!requirements.txt
.vscode/
__pycache__/
/plot*
!*2025080*
!EMUsort_paper_supplements/*
!EMUsort_paper_supplements/raw_outputs/*
